// @mixin margMain ($marg...) {
//     margin: $marg;
// }

@mixin workDate {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #a8a8a8;
}

@mixin styleList {
    color: #595959;
    line-height: 24px;
    font-size: 16px;
}

@mixin ulStyle($margi...) {
    margin: $margi; 
}

@mixin fontHeader($fW, $fSize, $lHigh, $margHead...) {
    font-weight: $fW;
    font-size: $fSize;
    line-height: $lHigh;
    margin: $margHead;
}

@mixin h3All($margH3...) {
    margin: $margH3;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}