@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: #E5E5E5;
}

.main {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    font-family: Montserrat, sans-serif;
    background-color: #ffffff;
    padding: 5px;
    flex: 0 1 50%;
}

@media (max-width:1200px) {
    .main {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .main {
        max-width: 750px;
    }
}

@media (max-width:767px) {
    .main {
        max-width: none;
        flex-direction: column;
    }
       .sideBar{
           max-width: 370px;
           margin: 0 auto;
       }   
            .mainContent {
                margin: 100px auto !important;
            }
                h1, h2 {
                    text-align: center;
                }
}

h3 {
    @include h3All(0 0 10px 0);
}

.mainContent {
    margin: 100px 0 0 90px;
}

.headerContent {
    h1 {
    @include fontHeader(700, 14px, 17px, 0 0 20px 0);
    }
         h2 {
            @include fontHeader(700, 45px, 55px, 0 0 25px 0);
        }
            p {
                @include fontHeader(400, 14px, 24px, 0 0 40px 0);
                // width: 400px;
            }
}

.projects {
    margin-bottom: 50px;
        ol {
            @include ulStyle(10px 0 15px 0);
        }
        .boldList {
            margin: 10px 0 15px 0;
        }
            .normRefAA{
                color: $colorReff;
                margin-left: 10px;
            }
                .bracket {
                    font-weight: bold;
                }
                    li.boldList::marker {
                        font-weight: 700;
                    }
}

.workExperience {
    .roga {
        color: $rogaColor;
        font-size: $rogaSize;
        }
            h4 {
                margin: 10px 0;
            }
                p {
                    @include workDate;
                }
                    ul {
                       @include ulStyle(10px 0 15px 0);
                    }
                        li {
                            @include styleList;
                            }
                                .education{
                                @include h3All(45px 0 10px 0)
                                }
                                    .univer {
                                        color: $rogaColor;
                                    }
}

.sideBar {
    background-color: #1E2939;
    padding-top: 40px;
    
    .photo {
        max-width: 370px;
        max-height: 354px;
    }
        .listBar {
            // @include margMain(50px 0 0 40px);
            margin: 50px 0 0 40px;
        }
            h3 {
                @include h3All(0);
                color: #ffffff;
            }
                .contactType {
                    @include fontHeader(700, 14px, 24px, 0 10px 0 0);
                    color: #ffffff;
                }
                    .contactLink {
                        color: #565F6B;
                    }
                        ul {
                            @include ulStyle(10px 0 65px 0);
                            color: #ffffff;
                            list-style: none;
                            padding-left: 0;
                        }
                            li {
                                padding-bottom: 10px;
                            }
                            li::before {
                                content: '';
                                display: inline-block;
                                width: 15px;
                                height: 15px;
                                background-image: url(/image/check.png);
                                background-size: cover;
                                margin-right: 10px;
                            }
                                .techSkillsItems {
                                    display: flex;
                                    align-items: center;
                                }
}